<div class="container">
  <h1 class="title">
    {{volunteerId}}
  </h1>
  <mat-divider></mat-divider>
</div>

<div class="container">
  <app-task-list [titleKey]="'PAGES.VOLUNTEER.TASK.LIST.CREATED'" [dataSource]="createdDataSource"
                 [displayedColumns]="['taskId', 'description', 'creator', 'taskStatus', 'reserve']"
                 (onReserve)="reserve($event)">
  </app-task-list>

  <mat-divider></mat-divider>

  <app-task-list [titleKey]="'PAGES.VOLUNTEER.TASK.LIST.RESERVED'" [dataSource]="reservedDataSource"
                 [displayedColumns]="['taskId', 'description', 'creator', 'taskStatus']">                                                                                                                                                                                                                           ]"
  </app-task-list>

  <mat-divider></mat-divider>

  <app-task-list [titleKey]="'PAGES.VOLUNTEER.TASK.LIST.ASSIGNED'" [dataSource]="assignedDataSource"
                 [displayedColumns]="['taskId', 'description', 'creator', 'taskStatus', 'finish']"
                 (onFinish)="finish($event)"></app-task-list>

  <mat-divider></mat-divider>

  <app-task-list [titleKey]="'PAGES.VOLUNTEER.TASK.LIST.FINISHED'" [dataSource]="finishedDataSource"
                 [displayedColumns]="['taskId', 'description', 'creator', 'taskStatus']">
  </app-task-list>
</div>
